* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.kube {
  width: 5rem;
  height: 5rem;
  background-color: rgb(223, 235, 235);
  border-radius: 10px;
  font-size: 4rem;
  padding-left: 25px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

#main {
  background-color: aqua;
  margin-top: 10rem;
  width: 35rem;
  height: 35rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 40px);
  width: 20rem;
  height: 20rem;
}

.board div {
  width: 7rem;
  height: 7rem;
  gap: 1rem;
  background-color: rgb(223, 235, 235);
  border-radius: 10px;
  font-size: 6rem;
  padding-left: 5px;
}
.game {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 40px);
  width: 12rem;
  height: 15rem;
}

.box button,
div {
  width: 20rem;
  height: 2rem;
  border-radius: 10px;
}

.a,
.win {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  border: 1px solid black;
  background-color: aliceblue;
  color: rgb(255, 0, 0);
}

.replace {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  background-color: aliceblue;
  width: 20rem;
  border-radius: 10px;
  color: blue;
}

.f {
  font-size: 20px;
  margin-top: 47px;
}
